@import "../../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.input-group {
    position: relative;
    margin-left: 80%;
    margin-top: -7.5%;
    width: 25%;
}